{% extends "AppPagweb/base.html" %}
{% load static %}

 
 {%block main%}.
 <h1>¡Hola! <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-emoji-laughing" viewBox="0 0 16 16">
    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
    <path d="M12.331 9.5a1 1 0 0 1 0 1A4.998 4.998 0 0 1 8 13a4.998 4.998 0 0 1-4.33-2.5A1 1 0 0 1 4.535 9h6.93a1 1 0 0 1 .866.5zM7 6.5c0 .828-.448 0-1 0s-1 .828-1 0S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 0-1 0s-1 .828-1 0S9.448 5 10 5s1 .672 1 1.5z"/>
  </svg> </h1>
  <img height="256px" src="http://127.0.0.1:8000/media/avatares/foto-perfil.jpeg">
  <p> Bienvenidos, mi nombre es Florencia Cammarata y soy estudiante de 3° año de la Lic. en Ciencias Físicas de la UBA.<br>

    Además de mi pasión por la ciencia, tengo un gran amor por el arte y una gran sensibilidad con los animales;
    esto motivó la idea de esta página web. 
    "Adoptinder" surge de la necesidad de facilitar la busqueda de animales, tanto sea para adoptar, 
    como para publicar si se perdió una mascota, etc. La existencia de tantas redes sociales dificulta
    este objetivo; la idea de esta página es concentrar todas las busquedas de animales en una sola plataforma. 
    La gran cantidad de animales en la calle a mi parecer demanda una solución urgente, y esta
    página tiene como objetivo ayudar a difundir estos casos y en el mejor escenario conseguirles una familia 
    lo más pronto posible.
</p>

 
 {% endblock %}