{% extends "AppPagweb/base.html" %}
{% load static %}

 
 {%block main%}.
 
 <h1>¡Bienvenido! En este sitio web buscamos la felicidad para todos los animalitos.</h1>
 <h5>Si estas buscando un nuevo integrante peludo en tu familia estas en el lugar indicado!</h5>
 <h5>Podés buscar en base a tu realidad la mascota más adecuada para tu hogar; 
   o en caso de que estes transitando algún animalito o tus mascotas tuvieron cría podes postearlo y esperar a que llegue la familia ideal.
 </h5>
 
{% endblock %}
